* {
  padding: 0;
  margin: 0;
  border: 0;
}
.App {
  text-align: center;

}
.logo {

  
}

.logoContainer {
  display: flex;
align-items: center;
}

.jobOffert {
  border: 1px solid black;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin: 2%;
}


.aboutOffert {
text-align: left;
width: 40%
}
.techStackInfo {
width: 40%;
  display: flex;
align-items: center;
 justify-content: center;
}

.programmingLanguage {
margin: 3%;
padding: 4px;
background-color: lightgreen;
}
h2{
  color: #66A1A1;
}

.displayNone {
  display: none;
}